# Logs
logs/
*.log
pnpm-debug.log*

# Dependencies & Build
node_modules/
dist/
dist-ssr/

# Environment
.env
.env.*

# VS Code (keep only extensions.json)
.vscode/*
!.vscode/extensions.json

# System
.DS_Store
